{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
	  "modules": false
    }]
  ],
  "ignore": [
    "node_modules",
    "src/public/*"
  ]
}